.close-btn {
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fl-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  /* background-color: white; */
  padding: 20px;
  border-radius: 8px;
  width: 780px;
  height: 680px;
  border-radius: 16px;
  background: linear-gradient(
    92deg,
    rgba(253, 203, 110, 0.6) 0%,
    rgba(253, 203, 110, 0.4) 100.82%
  );
  backdrop-filter: blur(1px);
}

.modal-content {
  height: 500px;
}
