@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 2rem;
  font-weight: normal;
  font-family: 'Press Start 2P', cursive;
  background: url(../images/background.png) center / cover no-repeat;
  background-color: lightgray;
}

html,
body {
  height: 100%;
  margin: 0;
}
