@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 2rem;
  font-weight: normal;
  background: url(../images/background.png) lightgray 50% / cover no-repeat;
}